export(align_ssb_r)
export(calc.quantiles)
export(calc.ssb.r)
export(cat_age.dat)
export(cat_srmsymc.dat)
export(compile.srmsymc)
export(do.ggplot)
export(hcr_TAC_to_Fmult)
export(hcr_implementation_model_1)
export(hcr_management_bio)
export(hcr_management_effort)
export(hcr_management_fmort)
export(hcr_observation_error)
export(hcr_operating_model)
export(hcr_read_ctr)
export(hcr_read_startfile)
export(hcr_recruitment_model)
export(hcr_set_assErrors)
export(hcr_set_dimensions)
export(hcr_set_recErrors)
export(hcr_set_starting_conditions)
export(hcr_set_wgtErrors)
export(hcr_summarise_data)
export(read.mc.par)
export(read.mc.ssb)
export(read.mc.ssbpr)
export(read.mc.yield)
export(read.mc.ypr)
export(read.rby)
export(read.rbya)
export(read.sen)
export(read.srmsymc)
export(recruit1)
export(recruit2)
export(recruitment)
export(run.srmsymc)
export(rvk2flr)
export(sen_from_rbya)
export(standard_attribute_list)
export(str_trim_commas)
export(str_trim_tab)
export(write.srmsymc)
